{% include header.html%}
{% include nav.html%}

<!-- Sharing widget by AddThis -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532f1fcf48260a10"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }   
  });
</script>
<!-- AddThis Smart Layers END -->

<div id="content">
<div class="wrapper">
<!-- {% include warning.markdown%} -->
{{ content }}

</div>
</div>

{% include footer.html%}



